<div style="display: flex; flex-grow: grow; width: 100%">
  <app-sidebar></app-sidebar>

  <p-card class="product-list-card">
    <h3>Admin Products</h3>

    <p-card *ngFor="let product of products" [header]="product.name" [style.margin-bottom]="'20px'">
      <ng-template pTemplate="content">
        <p>{{ product.description }}</p>
      </ng-template>
    </p-card>

    <h3>Seller Product List</h3>
    <p-card
      *ngFor="let product of productsSeller"
      [header]="product.name"
      [style.margin-bottom]="'20px'"
    >
      <ng-template pTemplate="content">
        <p>{{ product.description }}</p>
      </ng-template>
    </p-card>
  </p-card>
</div>
